PIL
-e git://github.com/gabrielgrant/django-inline-edit.git#egg=django-inline-edit
-e git://github.com/gabrielgrant/django-ckeditor.git#egg=django-ckeditor
-e git://github.com/gabrielgrant/django-ckeditor-filemodel-manager.git#egg=django-filemodel-manager
-e git://github.com/gabrielgrant/django-html-field.git#egg=django-html-field
